doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
//-                  fontawesome(4.4.0), reactjs(0.14.0)
- var use = { cdn: true, og: false, favicon: true }
- var lib = { jquery: true, d3js: false, angular: true, bootstrap: true, semantic: false, fontawesome: true, reactjs: true }
- var assets = "assets"
- var thumbnail = "thumbnail.png"
- var favicon = "thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body
    nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
      .container-fluid
        .navbar-header
        a.navbar-brand(href="#"): img(src="img/logo-sm.png")
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li: a(href="#about") 關於
            li: a(href="#result") 結果
            li: a(href="#questionnaire") 問卷
            li: a(href="#join") 加入專案
    #landing
      .title 
        img(src="img/logo-big.png")
        div 我們的任務不是偷取夢境，而是探討睡眠 &nbsp; &nbsp;
    #root
      a#brief(name="brief")
      br
      .text-center
        h2(style="color:#d63d1f"): big 「睡滿七小時，是真實還是夢境？」你顫抖的問。
        br
        p 邁入成年，你的睡眠彷彿置身戰爭現場。
        br
        p 工作超時、家庭負擔帶來龐大的壓力，睡與不睡不只是莎士比亞的命題。
        br
      hr
      h3 你知道嗎？
      br
      ul
        li 台灣人的平均睡眠時間不到六個半小時
        li 台灣每五個人裡就有一個睡眠障礙患者
        li 台灣人一年吃掉一條高速公路長的安眠藥
      p 睡眠是人類基本生理需求，良好的睡眠可以鞏固記憶、提升判斷力，並修復大腦與身體。長期睡眠剝奪造成不只造成認知功能下降，且讓罹患心血管疾病的機率倍增！
      br
      .text-center: a.btn.btn-lg.btn-danger(href="#questionnaire")
        div(style="font-size:1.2em") 加入我們，一起保衛睡眠！
        span(style="font-size:0.8em") 點我填寫問卷


      hr
      a#result(name="result")
      h3 到哪裡做睡眠檢查？
      .row
        .col-sm-8
          iframe(width='100%',height='520',frameborder='0',src='https://sungchien.cartodb.com/viz/c5286b3a-ac6a-11e5-8fca-0ea31932ec1d/embed_map',allowfullscreen,webkitallowfullscreen,mozallowfullscreen,oallowfullscreen,msallowfullscreen)
        .col-sm-4
          br
          p 全國睡眠檢查地點主要集中在下列區域：
          ul
            li 大台北地區：19 間
            li 中彰投：16 間
            li 雲嘉：6 間
            li 高雄：4 間
            li 台南：2 間
            li 宜蘭：2 間
            li 花蓮：1 間
          br
          small: a(href="http://www.tssm.org.tw/check.php",target="_blank") 來源 / 台灣睡眠醫學學會

      hr
      a#questionnaire(name="questionnaire")
      h3 問卷
      p 想參與我們的專案嗎？先參與我們的睡眠品質調查吧！

      iframe(width='100%',height='700',frameborder='0',src="https://docs.google.com/forms/d/1NoCBV0C6rpiI0y6_bnzXfEw39h4zzAvDKOKHTN2wdpA/viewform?c=0&w=1",allowfullscreen,webkitallowfullscreen,mozallowfullscreen,oallowfullscreen,msallowfullscreen)
      hr
      a#join(name="join")
      h3 加入專案 / 共筆
      br
      a(href="https://hackpad.com/TMpSu5nM7Tc") https://hackpad.com/TMpSu5nM7Tc
      #footer
        .pull-left: a(href="https://www.twreporter.org/",target="_blank") 報導者
        .pull-right: a(href="http://github.com/zbryikt/insomnia") Source
